<h1>rxjs component!!</h1>

<div class="my-1">
    <!-- <h2>Interval</h2><br>
    {{obsMsg}} -->
    <br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="card border-success">
                <div class="card-header border-warning">User1 </div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-primary">
                <div class="card-header border-warning">OfMsg </div>
                <div class="card-body">
                    <ul>
                        <li>{{ofMsg.name}}</li>
                        <li>{{ofMsg.name2}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card border-primary">
                <div class="card-header border-warning">fromMsg </div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-dark">
                <div class="card-header border-warning">map(val => val*2) </div>
                <div class="card-body">
                    <ul id="elContainer3">
                    </ul>
                </div>
            </div>
        </div>
        <h3>User Name : <span class="text-success">{{UserName}}</span> </h3>
        <div class="col-md-3">
            <app-subject></app-subject>
        </div>
    </div>
</div>